acme.api/bin 
acme.api/obj 
acme.business/bin 
acme.business/obj 
acme.data/bin 
acme.data/obj 
acme.data/node_modules.vs 
.vs 
Acme.Web/package-lock.json 
/Acme.Data.Test/bin/Debug/netcoreapp2.1
/Acme.Data.Test/obj
